.start-museum-title-container{
  display: flex;
  justify-content: center;
}

.start-museum-title {
  font-family: 'Imprint MT Shadow', 'Georgia', serif;
  font-size: 5em;
  color: #FFFD90;
  text-align: center;
  margin-top: 160px;

  /* Letter border (stroke) */
  -webkit-text-stroke: 0.1px #000000; /* Chrome, Safari */
  text-stroke: 0.1px #FFFD90; /* Standard (future-proof) */
}

.buttons {
  margin-top: 1rem;
}

.btn {
  width: 250px;
  height: 75px;
  display: inline-block;
  margin: 1.3rem;
  padding: 0.5rem 1rem;
  background-color: #ffd700;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: xx-large;
  transition: background-color 0.2sease-in-out;
}

.btn:hover {
  background-color: #e0b700;
}

.StartScreenButtonContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}